:root {
  --primaryWhite: #f4f5fa;
  --primaryGreen: #4b9d6f;
  --primaryText: #373b40;
  --primaryGray: #d9d9d9;
  --lightenedGray: rgba(55, 59, 64, 0.57);
  --lightenedGreen: rgba(75, 157, 111, 0.32);
}
