.scoreDiv {
  display: flex;
}

.resultsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3 {
    margin-top: 20px;
  }
}

.individualResult {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryGray);
  padding: 10px 20px;
  border-radius: 25px;
}

.holeDetailsContainer {
  display: flex;
  flex-direction: column;
}

.holeDetails {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 310px;
  margin-bottom: 20px;

  background-color: var(--primaryGray);
  border-radius: 25px;
  padding: 10px 20px;
}

.internalGrid {
  display: grid;
  grid-template-columns: auto 120px;
  margin-top: 15px;
}

.secondaryHoleDetails {
  max-width: 150px;
  font-size: 14px;
  margin-top: 10px;
  align-self: end;
}

.individualHoleDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.individualScoreHoleDetails {
  display: flex;
  flex-direction: column;

  input {
    height: 40px;
  }
}
